:root {
  --bg-color: #24252a;
  --btn-color: #038aff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-image: linear-gradient(to right, #2c2d31 , #35373e);
}

#app {
  width: 70%;
  margin: auto;

}

#search-form {
  text-align: center;
  margin: 50px 0 20px 0;
}

#search-form input {
  width: 400px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px ;
  text-align: center;
  font-family: 'regular';
  font-size: 100%;
}

#search-form button {
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #fff;
  background-color: var(--btn-color);
  font-family: 'title';
  font-size: 85%;
  height: 30px;
  border: 2px solid #ccc;
  cursor: pointer;
}

#result-area {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tv-card {
  width: 33%;
  margin-bottom: 20px;
}

.tv-card a {
  text-decoration: none;
  cursor: pointer;
}

.tv-card h3 {
  font-family: 'title';
  color: #fff;
}

.show-banner img {
  border-radius: 15px;
  max-width: 210px;
  max-height: 295px;
}

#show-container {
  display: flex;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: 60%;
  margin: 50px auto;
}

#image-container {
  width: 50%;
  text-align: center;
  background-color: var(--bg-color);
  padding: 18px;
  border-radius: 15px;
}

#image-container img {
  width: 90%;
  border-radius: 14px;
}

#details-container {
  width: 50%;
  font-family: 'regular';
  padding: 0 20px;
  position: relative;
}

#details-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-title {
  font-family: 'title';
}

#backlink {
  display: block;
  background-color: var(--btn-color);
  color: #fff;
  font-family: 'title';
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
}

#videoRendered {
  font-family: 'title';
  text-align: left;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  
  /* position:relative;
  padding-bottom:56.25%;
  height:0;
  overflow:hidden; */
}